.centeredTable {
    margin-left: auto;
    margin-right: auto;
}

.centered {
    text-align: center;
}

.container {
    margin: 30px auto;
    border: 1px solid #e4e4e4;
    width: 80%;
}

.body-content {
    margin-top: 50px;
}

td, th {
    padding: 10px;
}

th {
    text-align: center;
}

td {
    vertical-align: top;
}

form {
    max-width: 600xp;
    margin: auto;
}

.form-group {
margin-bottom: 15px;

]
