<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>
    <div th:replace="fragments :: page-header"></div>

    <div class="body-content">
        <h2 class="centered">Add Review</h2>
    </div>

    <form method="post" style="max-width:600px;">
        <div >
            <label th:for="review">Review</label>
            <input class="form-control" th:field="${review.comment}" />
            <span th:errors="${review.comment}" class="error"></span>
        </div>

        <input type="submit" value="Add Review" />
    </form>

    <div class="text-center">
        <div th:replace="fragments :: app-name-auth"></div>
    </div>

</body>
</html>