<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>
    <div th:replace="fragments :: page-header"></div>
    <div th:replace="fragments :: app-name-top-center"></div>

    <div class="body-content">
        <h2 class="centered">Add Review</h2>
    </div>

    <form method="post" style="max-width:600px;">
        <div>
            <label th:for="review">Review</label>
            <input class="form-control" th:field="${review.comment}" />
            <span th:errors="${review.comment}" class="error"></span>
        </div>
        <div class="rate">
            <input type="radio" id="star5" name="rate" value="5" />
            <label for="star5" title="text">5 stars</label>
            <input type="radio" id="star4" name="rate" value="4" />
            <label for="star4" title="text">4 stars</label>
            <input type="radio" id="star3" name="rate" value="3" />
            <label for="star3" title="text">3 stars</label>
            <input type="radio" id="star2" name="rate" value="2" />
            <label for="star2" title="text">2 stars</label>
            <input type="radio" id="star1" name="rate" value="1" />
            <label for="star1" title="text">1 star</label>
        </div>

        <input type="submit" value="Add Review" />
    </form>

</body>
</html>