<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

    <div th:replace="fragments :: page-header"></div>

    <div class="body-content">
        <h2 class="centered">Add Restaurant</h2>
    </div>

    <form method="post" style="max-width:600px;">

        <div class="form-group">
            <label th:for="name">Name</label>
            <input class="form-control" th:field="${restaurant.name}"/>
            <span th:errors="${restaurant.name}" class="error"></span>
        </div>

        <div class="form-group">
            <label th:for="address">Address</label>
            <input class="form-control" th:field="${restaurant.address}"/>
            <span th:errors="${restaurant.address}" class="error"></span>
        </div>

        <div class="form-group">
            <label th:for="city">City</label>
            <input class="form-control" th:field="${restaurant.city}"/>
            <span th:errors="${restaurant.city}" class="error"></span>
        </div>

        <div class="form-group">
            <label th:for="address">State</label>
            <input class="form-control" th:field="${restaurant.state}"/>
    <!--        <select></select>-->
    <!--        <select></select>-->
            <span th:errors="${restaurant.state}" class="error"></span>
        </div>

        <div class="form-group">
            <label th:for="address">ZIP Code</label>
            <input class="form-control" th:field="${restaurant.zipcode}"/>
            <span th:errors="${restaurant.zipcode}" class="error"></span>
        </div>

        <div class="form-group">
            <label th:for="phone">Phone</label>
            <input class="form-control" th:field="${restaurant.phone}"/>
            <span th:errors="${restaurant.phone}" class="error"></span>
        </div>

        <div class="form-group">
            <label th:for="hoursOfOperation">Hours of Operation</label>
                <select></select>
                <select></select>
        </div>

        <div class="form-group">
            <label th:for="cuisine">Cuisine</label>
                <select name="cuisineId">
                    <option th:each="cuisine : ${cuisines}"
                            th:text="${restaurant.cuisine}"></option>
                </select>
        </div>

        <div class="form-group">
            <label th:for="linkForRestaurant">Link</label>
            <input class="form-control" th:field="${restaurant.linkForRestaurant}"/>
            <span th:errors="${restaurant.linkForRestaurant}" class="error"></span>
        </div>

        <input type="submit" class="btn btn-primary" value="Add Restaurant">

    </form>

</body>
</html>