<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Add Restaurants</title>
</head>
<body>

<p th:unless="${restaurants} and ${restaurants.size()}">no jobs!</p>

<div class="container body-content">
  <h2>Restaurants</h2>
  <ul>
    <li th:each="restaurant : ${restaurants}">
      <a th:href="@{'/employers/view/' + ${employer.id}}" th:text="${employer.name}"></a>
    </li>
  </ul>
  <a th:href="@{'/restaurant/add'}">Add Restaurant</a>

</div>

</div>
</body>
</html>