<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>
    <div th:replace="fragments :: page-header"></div>

    <div class="body-content">
        <h2 class="centered">View Restaurants by Category</h2>
    </div>

     <table class="centeredTable">
         <tr>
             <th>All</th>
             <th>Cuisine</th>
             <th>Location</th>
         </tr>
         <td>
             <li>
                 <a th:href="@{/list/restaurants(column='All',value='View All')}">View All</a>
             </li>
         </td>
         <td>
             <li th:each="cuisine : ${cuisines}">
                 <a th:href="@{/list/restaurants(column=cuisine,value=${cuisine.name})}" th:text="${cuisine.name}"></a>
             </li>
         </td>
         <td>
<!--             <li th:each="zipcode : ${restaurant.zipcode}">-->
<!--                 <a th:href="@{/list/restaurants(column=Location,value=${restaurant.zipcode})}" th:text="${restaurant.city} + ',' + ${State}"></a>-->
<!--             </li>-->
         </td>
     </table>

    <div class="text-center">
        <div th:replace="fragments :: app-name-auth"></div>
    </div>


</body>
</html>