
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>
    <div th:replace="fragments :: page-header"></div>

    <div class="body-content">
        <h2 class="centered">View All Restaurants</h2>
    </div>

    <table class="centeredTable">
        <tr th:each="restaurant : ${restaurants}">
            <td>
                <h3 th:text="${restaurant.name}">
                    <a th:href="@{'/view/' + ${restaurant.name}}"></a>
                </h3>

                <p th:text="${'Address: ' + restaurant.address}"</p>
                <p th:text="${'Cuisine: ' + restaurant.cuisine}"</p>
            </td>
        </tr>
    </table>

</body>
</html>