<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body>
    <div th:replace="fragments :: page-header"></div>
    <div class="body-content">
        <h2 class="centered">View Restaurants by Category</h2>
    </div>

     <table class="centeredTable">
         <tr>
             <th>All</th>
             <th>Cuisine</th>
             <th>Location</th>
         </tr>
         <td>
             <li>
                 <a th:href="@{/list/restaurants(column='All',value='View All')}">View All</a>
             </li>
         </td>
         <td>
             <li th:each="cuisine : ${cuisines}">
                 <a th:href="@{/list/restaurants(column=cuisine,value=${cuisine.cuisine})}" th:text="${cuisine.cuisine}"></a>
             </li>
         </td>
         <td>
             <li>
                 <a href="zipcode : ${zipcodes}"></a>
             </li>
         </td>
     </table>

</body>
</html>