<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="text-center">

<div th:replace="fragments :: page-header"></div>

<div style="display: flex; justify-content: center; align-items: center; height: 600px">
        <form method="post" class="form-signin">
            <h1>Log In</h1>
            <div class="form-group">
                <label th:for="username">
                    <input class="form-control" th:field="${loginFormDTO.username}" placeholder="Username">
                </label>
                <p class="error" th:errors="${loginFormDTO.username}"></p>
                <p></p>
            </div>

            <div class="form-group">
                <label>
                    <input class="form-control" th:field="${loginFormDTO.password}" type="password" placeholder="Password">
                </label>
                <p class="error" th:errors="${loginFormDTO.password}"></p>
                <p></p>
            </div>

            <div>
                <input type="submit" class="btn btn-primary" value="Log In" />
            </div>
            <br>
            <p>Don't have an account? <a href="/register">Register for one.</a></p>
        </form>

</div>

<div th:replace="fragments :: app-name-auth"></div>


</body>
</html>