<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="text-center">

<div th:replace="fragments :: page-header"></div>

<div th:replace="fragments :: app-name-top-center"></div>

<div class="text-center container">
    <h2>Create an Account</h2>
</div>

<div style="display: flex; justify-content: center; align-items: center;">
<form method="post" class="form-signin">
    <div class="form-group">
        <label>
            <input class="form-control" th:field="${registerFormDTO.username}" placeholder="Username"/>
        </label>
        <p class="error" th:errors="${registerFormDTO.username}"></p>
        <p></p>
    </div>

    <div class="form-group">
        <label>
            <input class="form-control" th:field="${registerFormDTO.password}" type="password" placeholder="Password"/>
        </label>
        <p class="error" th:errors="${registerFormDTO.password}"></p>
        <p></p>
    </div>

    <div class="form-group">
        <label>
            <input class="form-control" th:field="${registerFormDTO.verifyPassword}" type="password" placeholder="Retype Password"/>
        </label>
        <p></p>
    </div>

    <input type="submit" class="btn btn-primary" value="Register" />

</form>
</div>

</body>
</html>