<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>

<body>

    <div th:replace="fragments :: page-header"></div>

    <div th:replace="fragments :: app-name-top-center"></div>

    <div class="text-center container-fluid">

        <form class="form-inline" style="justify-content: center; align-items: center;" th:action="@{/search/results}" method = "post">
            <div class="form-group">
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <span th:each="column : ${columns}">
                        <input
                                type="radio"
                                class="btn-check"
                                name="searchType"
                                th:id="${column.key}"
                                th:value="${column.key}"
                                th:checked="${column.key == 'all'}"
                                autocomplete="off"/>
                        <label class="btn btn-outline-primary" th:for="${column.key}" th:text="${column.value}"></label>
                    </span>
                </div>
            </div>
            <div class="form-group mx-sm-3" style="justify-content: center; align-items: center;">
                <div class="input-group container">
                    <input
                            type="text"
                            name="searchTerm"
                            id="searchTerm"
                            class="form-control"
                            placeholder="Search Keyword"
                            aria-label="Keyword" aria-describedby="btnGroupAddon"/>
                </div>
            </div>

            <input class="btn btn-primary mb-2" type="submit" value="Search" />

        </form>

        <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

        <hr />

        <table class="centeredTable">
            <tr th:each="restaurant : ${restaurants}">

                <td class="container" style="border-left: 1px solid #e4e4e4; padding-left: 10px;">
                    <img class="largeImage" src="/images/texasRoadhouse.jpg" width="300" height="150">
                </td>

                <td class="container" style="border-right: 1px solid #e4e4e4; padding-right: 10px;" >
                    <h3 style="text-align: center; color: black;">
                        <a th:href="@{'/view/' + ${restaurant.id}}" th:text="${restaurant.name}"></a>
                    </h3>

                    <p th:text="${restaurant.address}" style="text-align: center"></p>
                    <p th:text="${restaurant.city + ', ' + restaurant.state + '  ' + restaurant.zipcode}" style="text-align: center"></p>
                    <p th:text="${'Cuisine: ' + restaurant.cuisine.name}" style="text-align: center"></p>
                </td>
            </tr>
        </table>

    </div>

</body>
</html>