<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>


<body>

    <div th:replace="fragments :: page-header"></div>

    <div class="row">
        <div class="column">
            <h1 class="restaurantName" th:text="${restaurant.name}" ></h1>
            <img class="largeImage" src="/images/texasRoadhouse.jpg" width="600" height="300">

            <div>
                <img class="smallImage" style="margin-left: 200px;" src="/images/texasRoadhouse.jpg" width="100" height="100">
                <img class="smallImage" src="/images/texasRoadhouse.jpg" width="100" height="100">
                <img class="smallImage" src="/images/texasRoadhouse.jpg" width="100" height="100">
            </div>

            <div>
                <h2 style="margin-left: 125px; margin-top: 75px;">Hours</h2>
                <h4 style="margin-left: 75px;"th:text="${restaurant.hoursOfOperationOpen + ':' + restaurant.minutesOpen + ' ' + restaurant.timeOfDayOpen + ' - ' +
                 restaurant.hoursOfOperationEnd + ':' + restaurant.minutesEnd + ' ' + restaurant.timeOfDayEnd}"></h4>
            </div>
        </div>

        <div class="column">
            <div>
                <h3>
                    <a class="reviewLink" href="/review">Write a Review</a>
                    <th:block th:with="link=${restaurant.linkForRestaurant}">
                        <a class="websiteLink" th:href="@{//{link}(link=${restaurant.linkForRestaurant})}" target="_blank">Visit Website</a>
                    </th:block>
                </h3>
            </div>
            <div class="restaurantInfo">

                <h3 th:text="${restaurant.address}"></h3>
                <h3 th:text="${restaurant.city + ', ' + restaurant.state + '  ' + restaurant.zipcode}"></h3>
                <h3 th:text="${'Cuisine: '+ restaurant.cuisine.name}"></h3>
                <h3 th:text="${'Phone Number: ' + restaurant.phone}"></h3>
            </div>

            <table class="centeredTable">
                <th>
                    <h3>Reviews</h3>
                </th>
                <tr th:each="review : ${reviews}">
                    <td class="reviewContainer">
                        <h5 th:text="${'Reviewer: ' + review.name}"></h5>
                        <h6 th:text="${'Rating: ' + review.rating + ' stars'}"></h6>
                        <h6 th:text="${review.date}"></h6>
                        <p th:text="${review.comment}"></p>
                    </td>
                </tr>
            </table>

        </div>
    </div>

    <div class="text-center">
        <div th:replace="fragments :: app-name-auth"></div>
    </div>

</body>
</html>