<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

  <body>
    <div th:replace="fragments :: page-header"></div>

    <div class="row">
        <div class="column">
            <h1 class="restaurantName" th:text="${restaurant.name}" >Default Title</h1>
            <img class="largeImage" th:text="${restaurant.photo}" width="600" height="300">

            <div>
                <img class="smallImage" style="margin-left: 200px;" src="/images/texasRoadhouse.jpg" width="100" height="100">
                <img class="smallImage" src="/images/texasRoadhouse.jpg" width="100" height="100">
                <img class="smallImage" src="/images/texasRoadhouse.jpg" width="100" height="100">
            </div>

            <div>
            <form th:action="@{/restaurant/view/{restaurantId}}" th:object="${restaurant}" method="post" enctype="multipart/form-data">
                <label>Add Photos</label>
                <input type="file" name="photo" accept="image/png, image/jpeg" />
                <input type="submit" class="btn btn-primary" value="Add Photo">
            </form>
            </div>

            <div>
                <h3 style="margin: 75px;">Hours</h3>
                <h6 th:text="${restaurant.openingTime}"></h6>
                <h6 th:text="${restaurant.closingTime}"></h6>
            </div>
        </div>

        <div class="column">
            <div>
                <h3>
                    <a class="reviewLink" href="/review">Write a Review</a>
                </h3>
            </div>

            <div class="restaurantInfo">
                <h3 th:text="${restaurant.cuisine}"></h3>
                <h3 th:text="${restaurant.address}"></h3>
                <h3 th:text="${restaurant.city + ', ' + restaurant.state + '  ' + restaurant.zipcode}"></h3>
                <h3 th:text="${'Phone Number: ' + restaurant.phone}"></h3>
                <h3 th:text="${'Website: ' + restaurant.linkForRestaurant}"></h3>
            </div>

        </div>
    </div>

</body>
</html>